{% extends 'layout.html.twig' %}

{% block title %}Hello VoucherController!{% endblock %}

{% block body %}

<div class="container mt-5">
    <h3>Combien de places souhaitez vous ajouter ?</h3>
    <div class="row alert alert-info">
        

        <div class="col">
            
            Nom : {{card.user.lastName }}<br>
            Prenom : {{ card.user.firstName }}<br>
            Nombre de place actuelle : {{ card.fidelity }}

        </div>
    </div>
    <div class="row alert alert-warning">
        <div class="col">
            <form method="POST">
                <div class="">
                    <label for="ticketNumber">Nombre de placeà ajouter :</label>
                    <input type="text" class="form-control" id="ticketNumber" name="ticketNumber">
                </div>
                <button type="submit" class="btn btn-success mt-3">Ajouter</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
