{% extends 'layout.html.twig' %}

{% block title %}page non trouvée - {{ parent() }}{% endblock %}


{% block content %}
<div class='container'>
    <h1 class="text-center">Oups ! la page que vous recherchez n'existe pas</h1>
        <p class="text-center">On a du mal vous renseigner !</p>
</div>
{% endblock %}